body {
    width: 100%;
}

.container {
    width: 100%;
    height: 900px;
    /* height: 100%; */
    background: url('./tiger.jpg') no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    /* display: flex; */

}

.header {
    color: darkorange;
    width: 100%;
    height: 15%;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.card-container {
    display: flex;
    justify-content: center;
    /* align-items: center;  */
}


.employee-card {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 20%;
    /* height: 30%; */
    border: 5px solid black;
    border-radius: 10px;
    margin: 25px;
    background-color: darkorange;
}

.card-header {
    display: flex;
    flex-direction: column;
    font-size: 30;
    background-color: darkorange;
    color: black;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.card-title {
    background-color: black;
    color: darkorange;
    font-size: 170%;
    margin: 20px 0;
    padding: 20px;
    width: 75%;
}

.card-body {
    width: 100%;
    background-color: darkorange;
    color: black;
}



.group-item {
    background-color: black;
    color: orange;
    font-size: 20px;
    margin: 20px 0;
    padding: 10px;
}



.employee-card:hover {
    box-shadow: 0 0 100px darkorange;

}

